//For custom style
//main
html,body,#root{
  width:100%;
  height:100%;
  padding: 0;
  min-height: 900px;
}
.m-0{
    margin:0;
}
.defaultList{ 
    list-style: none;
    padding: 0;
    li{
      a{
        color: #fff;
        text-decoration: none;
        font-size: 12px;
      }
    }
}
.logoStyle{
  padding:35px 21px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  background: linear-gradient(270deg, #FFD25F 0.13%, #FF5C01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}